#head {
  text-align: center;
  margin: 0 auto;

  h1 {
    margin: 35px 0 15px 0;
    font-size: 50px;
  }

  .desc {
    font-size: 20px;

    div:first-child {
      font-size: 25px;
    }
  }
}

.sep {
  width: 35%;
  height: 3px;
  background: #aaa;
  border-radius: 25px;
  margin: 15px auto 25px;
}

#blogs {
  width: 30%;
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;
    text-align: left;

    li {
      background: linear-gradient(to right, #212131, #313141);
      border-radius: 15px;
      width: 95%;
      margin: 10px auto;
      padding: 5px 0;
      transition: width 200ms ease;
      &:hover { width: 100%; }

      a {
        text-decoration: none;
        &:hover { color: var(--fg); }

        .info {
          padding: 10px 20px;
          font-size: 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          time {
            font-family: monospace;
            letter-spacing: -1px;
          }
          .title {
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 500px) {
  #cont { width: 95vw; }
  #head {
    h1 { font-size: 30px; }
    .desc { font-size: 20px; }
  }
  #blogs {
    width: 100%;
    ul { li { width: 100%; } }
  }
}