@use './mobile' as *;

@mixin navHover {
  &.next:hover svg { transform: translateX(3px); }
  &.prev:hover svg { transform: translateX(-3px); }
  &.disabled {
    color: var(--fg);
    opacity: .5;
    cursor: default;
    pointer-events: none;
    svg { transform: translateX(0) !important; }
  }
  svg {
    width: 35px;
    height: 35px;
    transform: translateX(0);
    transition: transform var(--trans);
  }
}


main { position: relative; width: 50%; margin: 0 auto; padding-bottom: 125px; }


.info {
  text-align: center;
  padding-bottom: 25px;
  .date { font-family: monospace; font-size: .75em; }
  .title {
    &.nav {
      a.btn {
        @include navHover;

        display: inline-block;
        position: relative;
        width: 35px;
        height: 35px;
        top: 5px;
        text-decoration: none;
      }
    }
    font-weight: bold; font-size: 1.25em;

    .re {
      font-family: monospace;
      font-size: .85em;
      opacity: .75;
    }
  }
  .stats { font-size: .75em; font-style: italic; }
  .sep {
    width: 50%;
    height: 3px;
    background: var(--fg);
    margin: 10px auto;
  }
}

.text {
  p { margin: 10px 0; }

  img:not(.emote) {
    width: 100%;
    height: auto;
    border: 5px solid var(--acc);
    border-radius: var(--radius);
    box-sizing: border-box;
  }
  img.emote {
    width: auto;
    height: 1em;
    vertical-align: middle;
    transform: scale(1.5) translateX(5px);
  }

  .gap { padding: 15px 0 0; }

  .two.img {
    img {
      $m: 5px;
      width: calc(50% - ($m * 2));
      margin: $m;
      vertical-align: middle;
    }
  }
}


#nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  a {
    @include navHover;
    
    text-decoration: none;
    svg { vertical-align: sub; }
  }
}


@include mobile { main { width: 100%; } }