<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Not Found</title>
	<link rel='icon' href='https://itafdotuk.invisyarcticfox.workers.dev/favicons/missing.ico'>
	<link rel='stylesheet' href='https://itafdotuk.invisyarcticfox.workers.dev/master.css'>
</head>
<body>
  <div>
    <p style='font-size: 2.25rem;'><b>404 Not Found</b></p>
    <p style='font-size: 1.25rem;'>Sorry, this link is <span style='font-family: "Times New Roman", Times, serif'>dead</span>.</p>
    <!-- <p>Either it doesn't exist anymore, or the URL is wrong.</p> -->
    <p><a href='/'>Go back?</a></p>
  </div>
</body>
</html>

<style is:inline>
  body {
    /* all: unset; */
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
  p { margin: 0; }
</style>