---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import '@/styles/index.scss'

const posts = (await getCollection('post')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title='blog'>
	<div id="cont">
		<ul>
			{
				posts.map(({ data: { title, pubDate }, id }) => (
					<li class="post">
						<a href={`/p/${id}`}>
							<div class="info">
								<div class="date">
									<FormattedDate date={pubDate} />
								</div>
								<div class="title">{title}</div>
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>