---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import BlogList from '@/components/BlogList.astro'
import LetterboxdFeed from '@/components/LetterboxdFeed.astro'

import '@/styles/index.scss'

const posts = await getCollection('post')
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Layout title='blog'>
	<div id='head'>
		<h1>InvisyArcticFox's Blog</h1>
		<div class='desc'>For when I just wanna write about stuff!</div>
		<div class='sep'></div>
	</div>

	<div class='toggles'>
		<button class='blogs active'>Blogs</button>
		<button class='letterboxd'>Letterboxd</button>
		<div class='bg' />
	</div>

	<div id='container'>
		<div id='blogs' class='cont fade active'>
			<BlogList posts={sortedPosts} />
		</div>
		<div id='letterboxd' class='cont fade'>
			<LetterboxdFeed server:defer />
		</div>
	</div>

	<script src='../scripts/letterboxd.ts' />
</Layout>