---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '@/components/FormattedDate.astro'

import { etaReadTime } from '@/scripts'

type Post = CollectionEntry<'post'>
const { posts } = Astro.props as { posts: Post[] }

const postData = posts.map(post => ({
  ...post,
  readTime: etaReadTime(post.body),
}))
---

<div id='blogs'>
  <ul>
    {
      postData.map(({ data: { title, pubDate, re }, id, readTime }) => (
        <li class='post'>
          <a href={`/p/${id}`}>
            <div class='text'>
              <span class='info'>
                <FormattedDate date={pubDate} />
                &bull;
                <i>{readTime}</i>
              </span>
              <div class='title'> { re ? ( 'Re: ' + title ) : title } </div>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</div>
