---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import '@/styles/post.scss'

type Props = CollectionEntry<'post'>['data'];

const { title, pubDate } = Astro.props;
---
<Layout title={`p: ${title}`}>
	<div id="cont">
		<div class="post">
			<div class="info">
				<div class="date">
					<FormattedDate date={pubDate} time />
				</div>
				<div class="title">{title}</div>
				<div class="sep"></div>
			</div>
			<div class="text">
				<slot />
			</div>
		</div>
	</div>
</Layout>